doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

    style
      include ../stylesheets/styles.css

  body
    .row.light-green.lighten-3
      .container
        .col.s12.m2
          .col.s5.m12
          .col.s2.m12
          .col.s5.m12
        .col.s12.m8
          h1= title
          h6 Tell us about your day!
          br
        .col.s0.m2
    .row
      .container
        p Look at how others are feeling today! After log in you are able to post about your day.
        .col.s12.m3.l3.xl4.light-green.lighten-3.hoverable.border
          .col.s6.m12.l12.xl6
            p.red-text= log_msg
            h5 Log In
              form(method='POST' action='/posts/login')
                .form-group.input-field
                  input#user_login.form-control(type='text', maxlength='30', name='user_login')
                  label(for='user_login') Username
                .form-group.input-field
                  input#pass_login.form-control(type='password', maxlength='30', name='pass_login')
                  label(for='pass_login') Password
                button.btn.black.waves-effect(type='submit' name='login_button') Log In
            br
          .col.s6.m12.l12.xl6
            p.red-text= sign_msg1
            p= sign_msg2
            h5 Sign Up
              form(method='POST' action='/posts/signup')
                .form-group.input-field
                  input#user_signup.form-control(type='text', maxlength='30', name='user_signup')
                  label(for='user_signup') Username
                .form-group.input-field
                  input#pass_signup.form-control(type='password', maxlength='30', name='pass_signup')
                  label(for='pass_signup') Password
                button.btn.black.waves-effect(type='submit', name='signup_button') Sign Up
            br
        .col.s0.m1
          .row
            .col.s12.m0
        .col.s12.m8.l8.xl7.light-green.lighten-3.hoverable.border
          .container
            ul
            each post in post_list.reverse()
              li.left-align #{post.content} - #{post.user} - #{post.time}
            else
              p.left-align No posts yet :/ Be the first to post!
            ul
  br
  p © Roosa Hynninen 2020   

    